.containertable {
    width: 300px;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}


/* try removing the "hack" below to see how the table overflows the .body */

.hack1 {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.hack2 {
    display: table-cell;
    overflow-x: auto;
    width: 100%;
}

/* scroll abaixo da navbar */
h1 {
    scroll-margin-top: 140px;
}

h2 {
    scroll-margin-top: 140px;
}

.icon-png img {
    width: 1em;
    height: 1em;
}